<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%p [%t] %d %c %M %L: %m%n</pattern>
		</encoder>
	</appender>

	<!-- Daily Rolling File Appender that compresses old files -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/data1/logs/java_release/rme-web/rme-web.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/data1/logs/java_release/rme-web/rme-web.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%p [%t] %d %c %M %L: %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.dp.petshome" level="INFO" />
	<!-- 3rd party loggers begin -->
	<logger name="org.springframework.amqp.rabbit" additivity="true" level="INFO" />
	<logger name="org.springframework" additivity="true" level="INFO" />
	<logger name="org.quartz" additivity="true" level="INFO" />
	<logger name="org.mybatis" additivity="true" level="INFO" />
	<logger name="org.apache" additivity="true" level="INFO" />
	<logger name="org.dozer" additivity="true" level="INFO" />
	<logger name="java.sql.Connection" additivity="true" level="INFO" />
	<logger name="java.sql.Statement" additivity="true" level="INFO" />
	<logger name="java.sql.PreparedStatement" additivity="true" level="INFO" />
	<logger name="java.sql.ResultSet" additivity="true" level="INFO" />
	<logger name="com.zaxxer.hikari" additivity="true" level="INFO" />

	<!-- 3rd party loggers end -->
	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
</configuration>
