<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/task       
            http://www.springframework.org/schema/task/spring-task-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 注册定期任务类 -->
	<bean id="demoAPI" class="com.dp.petshome.schedule.job.DemoAPI"></bean>
	<!-- 注册定期执行的方法 -->
	<bean id="demoAPIService" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="demoAPI" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>demoMethod</value>
		</property>
		<!-- 指定定时任务不并发执行 -->
		<property name="concurrent" value="false" />
	</bean>

	<!-- 调度触发器 -->
	<bean id="demoAPIServiceTask" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="demoAPIService" />
		</property>
		<property name="cronExpression">
			<!-- cron表达式-每隔600秒 扫描要推送的数据 -->
			<!-- <value>*/20 * * * * ?</value> -->
			<!-- cron表达式-每隔600秒 扫描要推送的数据 -->
			<value>0 0 0/1 * * ?</value>
			<!-- cron表达式-每天0点 扫描要推送的数据 -->
			<!-- <value>0 0 0 * * ?</value> -->
		</property>
	</bean>

	<!-- 调度工厂 -->
	<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" destroy-method="destroy">
		<property name="triggers">
			<list>
				<ref bean="demoAPIServiceTask" />
			</list>
		</property>

		<property name="startupDelay" value="10" />
		<property name="applicationContextSchedulerContextKey" value="applicationContextKey" />
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
				<prop key="org.quartz.threadPool.threadCount">15</prop>
				<prop key="org.quartz.threadPool.threadPriority">5</prop>
				<prop key="org.quartz.jobStore.misfireThreshold">6000</prop>
				<prop key="org.quartz.scheduler.jmx.export">true</prop>
			</props>
		</property>
	</bean>


</beans>